body {
 font-family: 'Josefin Sans', sans-serif;
 margin: 0;
 padding: 0;
 min-height: 100vh;
 background: url(images/hospital.jpg) no-repeat center fixed;
}

header {
  background-color: #0081a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}
nav a {
  font-family: 'Anton', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:active {
color: #003638;
}

nav a:hover {
color: #003638;
}

nav a:focus {
color: #003638;
}

.pIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.7cm;
  padding-bottom: 0.5cm;
  gap: 40px;
}

.about-text {
  color: black;
  font-size: 27px;
  font-weight: 600;
  max-width: 500px;
}

.about-image img {
  max-width: 100%;
  width: 550px;
  height: auto;
  border-radius: 10px;
  margin-left: 2cm;
  box-shadow: 0 0 5px rgba(0, 129, 167, 0.3);
}

.about-text h2 {
  color: #0081a7;
  font-size: 40px;
  margin-bottom: 15px;
}


.bgcolor {
  background-color: rgb(210, 231, 248, 0.7);;
}

.names {
 font-size: 14px;
 opacity: 0.9;
 margin: 0px;
}

footer {
 width: 100%;
 background-color:#0081a7;
 color: white;
 text-align: center;
 padding: 20px 0px 10px 0px;
 margin-top: 60px;
}

footer h2 {
 font-size: 20px;
 margin: 0px;
 margin-bottom: 10px;
 font-family: 'Anton', sans-serif;
 letter-spacing: 2px;
 font-weight: 300;
}

.icons {
 display: flex;
 justify-content: center;
 gap: 25px;
 margin-bottom: 20px;
}

.icons img {
 width: 40px;
 height: 40px;
 object-fit: contain;
}

footer p {
 font-size: 14px;
 opacity: 0.9;
}