body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e6f2f8;
  margin: 0;
}

header {
  background-color: #0081a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  font-family: 'Anton', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover,
nav a:focus,
nav a:active {
color: #003638;
}

.pIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
}

h2 {
  color: #0081a7;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Anton', sans-serif;
}

p {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

form {
  display: grid;
 grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  align-items: end;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-weight: bold;
  color: #0081a7;
  display: block;
}

input {
  padding: 8px 10px;
  border: 1px solid #a2d2ff;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  text-transform: uppercase;
  box-sizing: border-box;
}

input:focus {
  border-color: #0081a7;
  box-shadow: 0 0 5px rgba(0, 129, 167, 0.3);
  background-color: #f0f6ff;
}

.full-width {
  grid-column: span 3;
  text-align: center;
}

button {
  background-color: #0081a7;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Anton', sans-serif;
}

button:hover {
  background-color: #005f6b;
}

.pIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}