body {
 font-family: 'Josefin Sans', sans-serif;
 margin: 0;
 padding: 0;
 min-height: 100vh;
 background: url(images/hospital.jpg) no-repeat center fixed;
}

header {
  background-color: #0081a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}
nav a {
  font-family: 'Anton', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:active {
color: #003638;
}

nav a:hover {
color: #003638;
}

nav a:focus {
color: #003638;
}

.pIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.welcome {
 display: flex;
 justify-content: center;
 gap: 60px;
 padding: 60px;
 align-items: center;
}

.welcome-box {
 width: 500px;
 height: 300px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}

.welcome-box h2 {
 font-size: 80px;
 margin: 0;
 color: white;
}

.right-box {
 width: 500px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.message-box {
 color: rgb(0, 0, 0);
 text-align: center;
 font-size: 30px;
 line-height: 1.5;
 font-weight: 600;
 max-width: 100%;
 margin-bottom: 20px;
}

.button-group {
 display: flex;
 justify-content: center;
 gap: 65px;
}

.button {
 background: #0081a7;
 color: white;
 padding: 16px 40px;
 border-radius: 30px;
 text-decoration: none;
 font-size: 18px;
}

.button:active {
 color: #003638;
}

.button:hover {
  color: #003638;
}

.button:focus {
  color: #003638;
}




.footer-bg {
 width: 100%;
 background-color:#0081a7 ;
 color: white;
 text-align: center;
 padding: 20px 0px 10px 0px;
 margin-top: 60px;
}

.footer-bg h2 {
 font-size: 20px;
 margin: 0px;
 margin-bottom: 10px;
 font-family: 'Anton', sans-serif;
 letter-spacing: 1px;
}

.icons {
 display: flex;
 justify-content: center;
 gap: 25px;
 margin-bottom: 20px;
}

.icons img {
 width: 30px;
 height: 30px;
 object-fit: contain;
}

.bgcolor {
  background-color: rgb(0, 129, 167, 0.3);;
}

.names {
 font-size: 14px;
 font-family: 'Josefin Sans', sans-serif;
 opacity: 0.9;
 margin: 0px;
}

footer {
 text-align: center;
 margin-top: 60px;
 padding-bottom: 40px;
}

footer h2 {
 font-size: 20px;
 margin-bottom: 20px;
 font-family: 'Anton', sans-serif;
 letter-spacing: 1px;
}

.icons {
 display: flex;
 justify-content: center;
 gap: 25px;
 margin-bottom: 20px;
}

.icons img {
 width: 40px;
 height: 40px;
 object-fit: contain;
}

.small-icon {
  width: 10px;
  height: 10px;
}

.names {
 font-size: 14px;
 opacity: 0.9;
}

.about-section {
  background-color: rgba(0, 129, 167, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 40px;
}

.about-text {
  color: white;
  font-size: 27px;
  max-width: 500px;
}

.about-image img {
  max-width: 100%;
  width: 550px;
  height: auto;
  border-radius: 10px;
}


.about-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

